<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Admin page</title>
</head>

<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Магазин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/adminpage/logout">Выход</a>
      </li>
    </ul>
</nav>

<div style="color: white">
  <span >Заказы</span>
  <div class='post-container'>
    {{#each posts}}
    <article id="{{this.id}}">
        <form method="post" action='/posts/{{this.id}}/vote' class="inline">
            <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
        </form>
        <h2><a href='/posts/{{this.id}}'>{{this.title}}</a></h2>
        <p>
            <span class='points'>{{this.votes}}</span>
            <span class='username'>{{this.username}}</span>
            <span class='comment-count'>{{ this.commentCount}}</span>
            <a class="delete" href='/posts/{{this.id}}'></a>
        </p>
    </article>
    {{/each}}
</div>
</div>

</body>

</html>
